@model GarageShop.Models.Branch

@{
    ViewData["Title"] = "Delete";
    Layout = "_PannelLayout";

}

<link rel="stylesheet" href="~/css/modelPannel.css" />

<h3>Are you sure you want to delete  @Html.DisplayFor(model => model.Name)?</h3>


<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">
            <b>Branch name</b> @Html.DisplayFor(model => model.Name)
        </h5>
        <p class="card-text">
            <b>@Html.DisplayNameFor(model => model.Address)</b> @Html.DisplayFor(model => model.Address)
        </p>
        <p class="card-text"><b>Phone number</b>  @Html.DisplayFor(model => model.PhoneNumber)</p>
        <p class="card-text">
            <b>@Html.DisplayNameFor(model => model.Latitude)</b>  @Html.DisplayFor(model => model.Latitude)
        </p>  <p class="card-text">
            <b>@Html.DisplayNameFor(model => model.Longitude)</b>  @Html.DisplayFor(model => model.Longitude)
        </p>
        <form class="flex" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a class="btn return" asp-action="Index">Return</a>
            <input type="submit" value="Delete" class="btn delete-btn btn-danger" />
        </form>

    </div>
</div>
