@model IEnumerable<GarageShop.Models.Branch>

@{
    ViewData["Title"] = "Branches Pannel";
}


<link rel="stylesheet" href="~/css/modelPannel.css" />
<h1>@ViewData["Title"]</h1>


<form style="margin:50px; padding-bottom:40px; border-bottom: 1px solid #dddddd;" class="flex justify-center" method="get" enctype="multipart/form-data" asp-action="Search">
    <input class="form-control" type="text" style="margin: 10px;font-size: 14px; width: 250px;" name="BranchName" placeholder="Enter something to search" />
    <input class="form-control" type="text" style="margin: 10px;font-size: 14px; width: 250px;" name="Address" placeholder="Enter something to search" />
    <input class="form-control" type="text" style="margin: 10px;font-size: 14px; width: 250px;" name="PhoneNumber" placeholder="Enter something to search" />


    <div style="margin-top: 10px;" class="col-lg-1 col-md-1">
        <button class="btn btn-primary">Search</button>
    </div>!
</form>

<script type="text/javascript">
            let searchParams = new URLSearchParams(window.location.search)
    if (searchParams.has('BranchName')) {
        $('[name="BranchName"]').val(searchParams.get('BranchName'));
            }
    if (searchParams.has('Address')) {
        $('[name="Address"]').val(searchParams.get('Address'));
            }
    if (searchParams.has('PhoneNumber')) {
        $('[name="PhoneNumber"]').val(searchParams.get('PhoneNumber'));
            }
</script>
<a asp-action="Create" style="background-color:darkseagreen" class="btn">Add a new branch</a>


<div class="cards-container">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">
                    <b>Branch name</b> @Html.DisplayFor(modelItem => item.Name)
                </h5>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(modelItem => item.Address)</b> @Html.DisplayFor(modelItem => item.Address)
                </p>
                <p class="card-text"><b>Phone number</b>  @Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                <p class="card-text">
                    <b>@Html.DisplayNameFor(modelItem => item.Latitude)</b>  @Html.DisplayFor(modelItem => item.Latitude)
                </p>  <p class="card-text">
                    <b>@Html.DisplayNameFor(modelItem => item.Longitude)</b>  @Html.DisplayFor(modelItem => item.Longitude)
                </p>
                <div class="flex justify-space-between">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn" style="background-color:green" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn delete-btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
