@model IEnumerable<GarageShop.Models.Branch>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="~/css/modelPannel.css" />
<h1>Branches Pannel</h1>


<form asp-action="Search">
    <input name="queryName" placeholder="Enter something to search" />
    <input type="submit" value="Search" class=" btn-primary" />
</form>

<a asp-action="Create" class="link-success">Add a new branch</a>


<div class="cards-container">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">
                   <b>Branch name</b> @Html.DisplayFor(modelItem => item.Name)
                </h5>
                <p class="card-text">
                    <b>Adress</b> @Html.DisplayFor(modelItem => item.Address)
                </p>
                <p class="card-text"><b>Phone number</b>  @Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                <p class="card-text">
                    <b>Latitude</b>  @Html.DisplayFor(modelItem => item.Latitude)
                </p>  <p class="card-text">
                          <b>Longitude</b>  @Html.DisplayFor(modelItem => item.Longitude)
                </p>
                <p class="card-text"></p>
                <div class="flex align-self-center">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
