@model GarageShop.Models.User

@{
    ViewData["Title"] = "Delete";
}


<link rel="stylesheet" href="~/css/modelPannel.css" />


<h3>Are you sure you want to delete  @Html.DisplayFor(model => model.Username)?</h3>
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">
                    <b>FullName</b>  @Html.DisplayFor(model => model.FullName)
                </h5>
                <p class="card-text">
                    <b>Username</b> @Html.DisplayFor(model => model.Username)
                </p>
                <p class="card-text"><b>Email</b>  @Html.DisplayFor(model => model.Email)</p>
                <p class="card-text">
                    <b>User Type</b>  @Html.DisplayFor(model => model.UserType)
                <p class="card-text"></p>
                <form class="flex" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <a class="btn return" asp-action="Index">Return</a>
                    <input type="submit" value="Delete" class="btn delete-btn btn-danger" />
                </form>
            </div>
        </div>
