@model IEnumerable<GarageShop.Models.User>


@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/modelPannel.css" />
<h1>Users Pannel</h1>


@*<form asp-action="Search">
    <input name="queryName" placeholder="Enter something to search" />
    <input type="submit" value="Search" class=" btn-primary" />
</form>*@

<a asp-action="Create" class="link-success">Add User</a>


<div class="cards-container">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">
                    <b>FullName</b>  @Html.DisplayFor(modelItem => item.FullName)
                </h5>
                <p class="card-text">
                    <b>Username</b> @Html.DisplayFor(modelItem => item.Username)
                </p>
                <p class="card-text"><b>Email</b>  @Html.DisplayFor(modelItem => item.Email)</p>
                <p class="card-text">
                    <b>User Type</b>  @Html.DisplayFor(modelItem => item.UserType)
                <p class="card-text"></p>
                <div class="flex align-self-center">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
