@model IEnumerable<GarageShop.Models.User>


@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/modelPannel.css" />
<h1>Users Pannel</h1>


<form class="flex" asp-action="Search">
    <input name="queryName" placeholder="User fullname..." />
    <input type="submit" value="Search" class="search-btn btn btn-primary" />
</form>




<div class="cards-container">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <h5 class="card-title">
                    <b>FullName</b>  @Html.DisplayFor(modelItem => item.FullName)
                </h5>
                <p class="card-text">
                    <b>Username</b> @Html.DisplayFor(modelItem => item.Username)
                </p>
                <p class="card-text"><b>Email</b>  @Html.DisplayFor(modelItem => item.Email)</p>
                <p class="card-text">
                    <b>User Type</b>  @Html.DisplayFor(modelItem => item.UserType)
                <p class="card-text"></p>
                <div class="flex justify-space-between">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn" style="background-color:green" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn delete-btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
