@model GarageShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/details.css">
<section class="toy-details" style="margin-top:200px;width: 350px;;">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <img src="@Html.DisplayFor(model => model.Image)">
    <div class="flex column">
        <div class="flex justify-space-between">
            <h3>@Html.DisplayFor(model => model.Seller.Name)</h3>
            <h3>@Html.DisplayFor(model => model.Category.Name)</h3>
        </div>
        <h5>
            @Html.DisplayFor(model => model.Description)

        </h5>
    </div>
    <a href="TODO ADD TO CART" class="btn-flip" data-back="Continue to buy" data-front="@Html.DisplayFor(model => model.Price)"></a>
    <a asp-area="" asp-controller="shop" asp-action="Index" style="margin-top: 15px;" class="back">Back To Shop</a>
    <div class="text-box">
    </div>
</section>

