@model IEnumerable<GarageShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/modelPannel.css" />
<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Search">
    <input name="queryName" placeholder="Enter something to search" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>




@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Name)
            </h5>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p class="card-text"><b>Price</b>  @Html.DisplayFor(modelItem => item.Price)</p>
            <p class="card-text">
                <b>Category</b>  @Html.DisplayFor(modelItem => item.Category.Name)
            </p>  <p class="card-text">
                <b>Seller</b>  @Html.DisplayFor(modelItem => item.Seller.Name)
            </p>
            <p class="card-text"></p>
            <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}

