

@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="~/css/cart.css" />

<section class="class-wrappper">
    <div style="width: 70vw; margin: 20px;" class="flex wrap">
        <header style="margin:0 auto; margin-bottom: 20px;">

            @if (ViewBag.TotalPrice == 0)
            {
                <h1>Your Cart Is Empty!!!</h1>
                <img src="https://c4.wallpaperflare.com/wallpaper/803/434/441/mazda-miata-drift-smoke-motion-blur-hd-wallpaper-thumb.jpg" />
            }
            else
            {
                <h1>Welcome to Your Cart</h1>
            }
        </header>
        <div class="cars-wrapper" style="width: 100%; margin-left:10%" >
            <div class="cars-container">                
                @foreach(Product product in ViewBag.Products)
            {
                <div class="car ">
                    <div class="flex column justify-center align-center">
                        <div style="margin-left: 30px;" class="img-container">
                            <img src="@product.Image">
                        </div>
                        <h4 style="margin:10px;" class="price">$@product.Price</h4>
                        <h4 style="margin:10px;" class="car-type">@product.Name</h4>
                    </div>
                    <p style="margin: 50px;" class="desc">@product.Description</p>
                    <div style="outline:none; padding:20px; width:50px; height:50px; color:darkred; position:absolute; top:-4%; right:1%;">
                        <form method="get" enctype="multipart/form-data" asp-controller="Carts" asp-action="Remove_Product">
                            <input name="ProdId" hidden value="@product.Id" />
                            <button class="remove-btn" style="outline:none; background:none;color:darkred">X</button>
                        </form>
                        
                    </div>
                </div>
            }
                
            </div>
        </div>
    </div>
    <aside>
<div class="cart-side-bar flex column" style="position: fixed;">
    <h1>Cart</h1>
        <div>
            <span style="color: green; font-size: 25px;"></span> <span>@ViewBag.User.FullName</span>
        </div>
        <div>
            <span style="color: green; font-size: 25px;"></span> <span>@ViewBag.User.Email</span>
        </div>
        <div>
        </div>
        
        <p style="font-size:22px; margin-block-start:15px" class="price">Total Price : <span>@ViewBag.TotalPrice$</span></p>
        <div>
            <a style="margin-top: 23px !important; padding: 10px 20px;" class="animated-button victoria-one" asp-area="" asp-controller="home" asp-action="Index">
                Purchase
            </a>
        </div>

</div>
    </aside>

</section>
