
@{
    ViewData["Title"] = "Shop";
    Layout = "_PannelLayout";
}

<link rel="stylesheet" href="~/css/shop.css">

<div class="align-self-center">
    <section class="">
        <div class="">
        </div>

        <form id="my_form" style="margin:50px; padding-bottom:40px; border-bottom: 1px solid #dddddd;" class="flex justify-center" method="get" enctype="multipart/form-data" asp-controller="Shop" asp-action="Index">
            <input class="form-control" type="text" style="margin: 10px;font-size: 14px; width: 250px;" name="prodName" placeholder="Enter something to search" />
            <select style="margin:10px;" class="custom-select col-lg-3 col-md-3" name="categoryId">
                <option value="" selected>Search By Category</option>
                @foreach (Category category in ViewBag.Category)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <select style="margin:10px;" class="custom-select col-lg-3 col-md-3" name="sellerId">
                <option value="" selected>Search By Seller</option>
                @foreach (Seller seller in ViewBag.Seller)
                {
                    <option value="@seller.Id">@seller.Name</option>
                }
            </select>
            <div class="col-lg-1 col-md-1">
            <a onclick="document.getElementById('my_form').submit();" class="btn btn-lg" href="#">
                <span>Search</span>
            </a>
            </div>
            <!--<div style="margin-top: 10px;" class="col-lg-1 col-md-1">
        <button class="btn btn-primary">Search</button>
    </div>!-->
        </form>


        <!--<form style="margin:50px; padding-bottom:40px; border-bottom: 1px solid #dddddd;" class="flex justify-center" method="get" enctype="multipart/form-data" asp-controller="Shop" asp-action="Index">
        <div class="form-row">
            <div class="col-7">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Zip">
            </div>
            <div class="col>
                <select style="margin:10px;" class="custom-select col-lg-3 col-md-3" name="sellerId">
                    <option value="selected">Search By Seller</option>
                    @foreach (Seller seller in ViewBag.Seller)
                    {
                        <option value="@seller.Id">@seller.Name</option>
                    }
                </select>
            </div>
            <div class="col">
                <select style="margin:10px;" class="custom-select col-lg-3 col-md-3" name="sellerId">
                    <option value="selected">Search By Seller</option>
                    @foreach (Seller seller in ViewBag.Seller)
                    {
                        <option value="@seller.Id">@seller.Name</option>
                    }
                </select>
            </div>
        </div>
    </form>-->

        <script type="text/javascript">
            let searchParams = new URLSearchParams(window.location.search)
            if (searchParams.has('prodName')) {
                $('[name="prodName"]').val(searchParams.get('prodName'));
            }
            if (searchParams.has('categoryId')) {
                $('[name="categoryId"]').val(searchParams.get('categoryId'));
            }
            if (searchParams.has('sellerId')) {
                $('[name="sellerId"]').val(searchParams.get('sellerId'));
            }
        </script>

        @*<div class="categories-container">
            <h2>Categories</h2>
            @foreach (Category category in ViewBag.Category)
            {
                <a class="container" asp-area="" asp-route-categoryId="@category.Id">
                    @category.Name
                </a>

            }
        </div>

        <div class="categories-container">
            <h2>Seller</h2>
            @foreach (Seller seller in ViewBag.Seller)
            {
                <a class="container" asp-area="" asp-route-sellerId="@seller.Id">
                    @seller.Name
                </a>

            }
        </div>*@

        <div class="cars-wrapper">
            <div class="cars-container ">
                @foreach (var product in ViewBag.Products)
                {
                    <div class="car ">
                        <div class="img-container">
                            <img src="@product.Image">
                        </div>
                        <div class="flex justify-space-between" style="margin-bottom: 10px;">
                            <h4 class="price">$@product.Price</h4>
                            <h4 class="car-type">@product.Name</h4>
                        </div>
                        <p class="desc">@product.Description</p>
                        <div>
                            <a href="/products/details/@product.Id" class="animated-button victoria-one">
                                Continue
                            </a>
                        </div>
                </div>
                }

            </div>


        </div>
    </section>
</div>




<!--Form copy-->
<!--
    <form style="margin:50px; padding-bottom:40px; border-bottom: 1px solid #dddddd;" class="flex justify-center" method="get" enctype="multipart/form-data" asp-controller="Shop" asp-action="Index">
    <input style="margin:10px; width:250px;" name="prodName" placeholder="Enter something to search" />
    <select style="margin:10px;" class="custom-select col-lg-3 col-md-3" name="categoryId">
        <option value="" selected>Search By Category</option>
        @foreach (Category category in ViewBag.Category)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <select style="margin:10px;" class="custom-select col-lg-3 col-md-3" name="sellerId">
        <option value="" selected>Search By Seller</option>
        @foreach (Seller seller in ViewBag.Seller)
        {
            <option value="@seller.Id">@seller.Name</option>
        }
    </select>
    <div style="margin-top: 10px;" class="col-lg-1 col-md-1">
        <button class="btn btn-primary">Search</button>
    </div>
</form>
    -->
