
@{
    ViewData["Title"] = "Shop";
}

<link rel="stylesheet" href="~/css/shop.css">
<div class="align-self-center">
    <section class="">
        <div class="">
        </div>

        <form method="get" enctype="multipart/form-data" asp-controller="Shop" asp-action="Index">
            <input name="prodName" placeholder="Enter something to search" />
            <select class="custom-select col-lg-3 col-md-3" name="categoryId">
                <option value="" selected>Search By Category</option>
                @foreach (Category category in ViewBag.Category)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <select class="custom-select col-lg-3 col-md-3" name="sellerId">
                <option value="" selected>Search By Seller</option>
                @foreach (Seller seller in ViewBag.Seller)
                {
                    <option value="@seller.Id">@seller.Name</option>
                }
            </select>
            <div class="col-lg-1 col-md-1">
                <button class="btn btn-primary">Search</button>
            </div>
        </form>

        <script type="text/javascript">
            let searchParams = new URLSearchParams(window.location.search)
            if (searchParams.has('prodName')) {
                $('[name="prodName"]').val(searchParams.get('prodName'));
            }
            if (searchParams.has('categoryId')) {
                $('[name="categoryId"]').val(searchParams.get('categoryId'));
            }
            if (searchParams.has('sellerId')) {
                $('[name="sellerId"]').val(searchParams.get('sellerId'));
            }
        </script>

        @*<div class="categories-container">
            <h2>Categories</h2>
            @foreach (Category category in ViewBag.Category)
            {
                <a class="container" asp-area="" asp-route-categoryId="@category.Id">
                    @category.Name
                </a>

            }
        </div>

        <div class="categories-container">
            <h2>Seller</h2>
            @foreach (Seller seller in ViewBag.Seller)
            {
                <a class="container" asp-area="" asp-route-sellerId="@seller.Id">
                    @seller.Name
                </a>

            }
        </div>*@

        <div class="cars-wrapper">
            <div class="flex column align-center justify-center" style="padding: 20px;">

            </div>
            <div class="cars-container ">
                @foreach (var product in ViewBag.Products)
                {
                    <div class="car ">
                        <div class="img-container">
                            <img src="@product.Image">
                        </div>
                        <div class="flex column align-center justify-space-between" style="margin-bottom: 10px;">
                            <h4 class="price">$@product.Price</h4>
                            <h4 class="car-type">@product.Name</h4>
                            <h4 class="car-type">@product.SellerName</h4>
                            <h4 class="car-type">@product.CategoryName</h4>
                        </div>
                        <p class="desc">@product.Description</p>
                        <!--          <div> <a href="#"  class="animated-button victoria-one">
                            Continue</a>
                    </div> -->
                        <div>
                            <a href="/products/details/@product.Id" class="animated-button victoria-one">
                                Continue
                            </a>
                        </div>

                    </div>
                }

            </div>


        </div>
    </section>
</div>